<!DOCTYPE html>
<html>
<head>
    <title>Sellers's Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form action="/sell" method="post">
            {% for exchange in exchanges %}
            <div>
                <label>{{ exchange.display_name }} - Price: {{ exchange.buy_price }}</label>
                <input type="number" value="{{ exchange.exchange_id }}" name="{{ exchange.exchange_id }}" min="0">
            </div>
            {% endfor %}
            <input type="submit" value="Sell">
        </form>
    </div>

</body>
</html>